@import "../../assets/_colour-palette";


#primary-header {
  // display: none;
  // background-color:;
  background: $heading-color;
}

#logo {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
