#featured-blog {
  padding: 30px 0;

  h2 {
      @include title-font-type($body-color);
  }

  h3 {

    @include title-font-type($body-color);
    font-size: 25px;
    padding: 15px;

  }

  button {
      @extend .action-button;
  }


}

.featured-blog-text {
  text-align: center;
  background: $heading-color;
  padding-bottom: 15px;
}
