#discover {
  padding: 40px 0;

  h2{
    @include title-font-type($body-color);
  }

    p {
      @extend .bodyfont;
      margin: 0;
    }

  //accordion
  ul li {
    @extend .question-titles;
  }

    li a {
      @extend .accord-question-title;
    }

  ul a {
    text-decoration: none;
    list-style-type: none;
  }

  #dropDownMenu {

      p {
        @extend .hidden-info;
      }

  }
}

.contact-icons span {
  color: $color-four;
}
