#reasons {
  padding: 20px 0 0 0;

  p {
   @extend .bodyfont;
  //  color: #f00;
  margin: 0px;
  }

  img {
    width: 100%;
    position: relative;
    top: -20px;
  }

  h2 {
    @include title-font-type($action-color);
    text-align: left;
  }
}
