#hero-container {
  box-sizing: border-box;
    background: $color-four;
    background: url('../../img/hero.jpg');
    background-size: cover;
    // background-position: fixed;
    text-align: center;
    padding: 8em 0 13em 0;
    position: fixed;
    width: 100%;
    z-index: -1;

    h1 {
      @extend .hero-title;
      color: $body-color;

      span {
        text-transform: uppercase;
        font-family: $primaryfont;
        font-weight: bold;
        margin-top: -30px;
        font-size: 60px;
        @include bp(baby-bear){
        font-size: 50px
        };
      }
    }

    button {
      @extend .action-button;
      text-transform: uppercase;
    }

}
