#piggy-ratings {
  // margin: 20px 20px;
  p {
    margin: 0;
  }

  p span {
    font-weight: bold;
  }

  ul {
    padding: 0px;

    li {
      padding: 0px;
      padding-top: 20px;
    }
  }

  .ratings-Bg {
    background: $turq-color;
    color: $body-color;
    @extend .border-rad;
    padding: 30px;
    padding-bottom: 180px;
  }

  .ratingInfo{
    padding: 15px 0 15px 0;
    border-top-style:dotted;
    border-width: 1px;
  }

  // .textRight1 {
  //   color: $body-color;
  //   font-family: $bodyfont;
  //   text-align: left;
  //   font-size: 16px;
  //   line-height: 1.69;
  //   letter-spacing: normal;
  //   text-align: justify;
  //   padding-right: 0px;
  //   // padding-left: 40px;
  //   padding-top: 0px;
  // }
  //
  // .textRight2 {
  //   color: $body-color;
  //   font-family: $bodyfont;
  //   text-align: left;
  //   font-size: 16px;
  //   line-height: 1.69;
  //   letter-spacing: normal;
  //   text-align: justify;
  //   padding-left: 4px;
  //   padding-top: 0px;
  // }

  .ratingsTitle {
    font-family: $primaryfont;
    color: $white-background;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }

  .percentageSize {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 72px;
    font-weight: bold;
    text-align: center;
    font-family: $bodyfont;
  }

  .averageRating{
    line-height: 1.69;
    margin-top: 0px;
    font-size: 16px;
    text-align: center;
    font-family: $bodyfont;
    text-transform: uppercase;
    padding-bottom: 15px;
    border-bottom: $body-color;
    border-bottom-style:dotted;
    border-width: 1px;
    margin-left: 25px;
    margin-right: 25px;
  }

}
