// // Colour One - Bright Orange
// #ff6016

$action-color: #ff851f;
$action-color-opaque: rgba(255,133,31,1);

// // Colour Two - Turq
// #3dccb1

$turq-color: #3dccb1;

// //  Colour Three -  Dark Grey
// #393d41

$body-color: #393d41;

// // Colour Four - Light Grey
// #d9d9d9

$color-four: #d9d9d9;

// // Colour Five - Light Green/ Grey
// #edf2f0

$heading-color: #edf2f0;

// White Background color

$white-background: #fff;
