#latest-posts {
  padding: 0 030px 0;

  h2 {
      @include title-font-type($body-color);
      margin-bottom: 10px;
  }

  p {
     @extend .bodyfont;
  }

  button {
    @extend .action-button;
    margin-bottom: 20px;
    @extend .border-rad;
  }

  img {
    border-radius: 2px;
  }

  ul {
    padding-left: 0px;
    margin-bottom: 30px;
  }

  li a {
    @extend .teamEmail;
  }
}

// Latest Blog Title and Paragraph
.latest-blog-posts {
  text-align: center;
  // padding-top: 20px;

  h3 {
    font-family: $primaryfont;
    font-size: 24px;
    border-bottom-style: dotted;
    border-width: 2px;
    border-color:  $action-color;
    text-transform: uppercase;
    padding: 0px 0 10px 0;
    margin: 15px 0 0 0;
    display: inline-block;
  }
}


.blogPostFooter {
  // border-bottom-style: dotted;
  // border-top-style: dotted;
  border-width:1px;
  margin-bottom: 20px;
  background: $heading-color;

  img {
    margin-right: 20px;
    width:27px;
  }
}


// Left Side Bar
.sidebar-title {
  letter-spacing: 1.2px;
  border-bottom: solid 1px $turq-color;
  font-family: $bodyfont;
  font-size: 24px;
  font-weight: bold;
  color: $turq-color;
  text-transform: uppercase;
  text-align: left;
  margin: 0px;
  padding-bottom: 2px;
  margin-bottom: 10px;

  &:before {
    content: url('../../assets/images/aboutUs/cross_tur_copy.png');
    padding-right: 5px;
    top: 2px;
    position: relative;
  }
}


#hostel-Options{
  line-height: 2.73;
  text-transform: uppercase;

  li {
    padding: 0px;
    font-family: $primaryfont;
  }

  li a {
    text-decoration: none;
    color: #8a918e;
    font-size: 15px;
    line-height: 2.73;
    // font-weight: bold;
    font-weight: 400;
    padding-left: 40px;
  }
}

.social-media-multi-icon {
  text-align: center;
  padding: 20px 0 40px 0;
}

.popular-posts {
  margin: 20px 21px 10px 0px;
  text-align: center;

    font-family: $bodyfont;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    color: #8a918e;
    font-weight: 400;
}

#instagramSection {
  margin: 20px 0;
}
