#latest-posts {
  padding: 30px 0;

  h2 {
      @include title-font-type($body-color);
      margin-bottom: 10px;
  }

  p {
     @extend .bodyfont;
  }

  button {
    @extend .action-button;
    margin-bottom: 20px;
  }

  img {
    border-radius: 2px;
  }
}

.latest-blog-posts {
  text-align: center;
  // padding-top: 20px;
}

//
// .sidebar-titles-left {
//   font-family: $primaryfont;
//   font-size: 24px;
//   border-bottom-style: dotted;
//   border-width: 2px;
//   border-color:  $action-color;
//   text-transform: uppercase;
//   padding: 0px 0 10px 0;
//   margin: 15px 0 0 0;
//   display: inline-block;
// }

.social-blog-icons {
  margin-right: 20px;
}

.blogPostFooter {
  // border-bottom-style: dotted;
  // border-top-style: dotted;
  border-width:1px;
  margin-bottom: 20px;
  background: $heading-color;
}










#popularPostsOp1 {
  margin: 10px 0 0 0px
}

.blogLocations {
  background: $white-background;
  // color: $body-color;
  margin: 0px 30px 30px 30px;
  // padding: 10px 10px 10px 10px;
  border-radius: 30px;
  line-height: 1.0;
}

.blogLocationArrow {
  float: right;
  margin: 10px 10px 0 0;

}

.optionsDisplay {
  // margin: 0 0 0 0;
  display: inline-block;
  float: left;
  margin-left: 20px
}


.sidebarTitles {
  font-family: $primaryfont;
  font-size: 24px;
  border-bottom-style: dotted;
  border-width: 2px;
  border-color:  $action-color;
  text-transform: uppercase;
  padding: 20px 0 10px 0;
  display: inline-block;
}

.sidebarSubTitles {
  font-family: $bodyfont;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: $body-color;
}

.readMoreBtnBlog {
    background-color: $action-color;
    margin: 10px 0 0px 0;
    border-radius: 50px;
    border: none;
    text-transform: uppercase;
    padding: 10px 20px 10px 20px;

    font-family: $bodyfont;
    font-size: 11px;
    font-weight: bold;
    color: $white-background;
}

.blogButtonMargin {
  margin-bottom: 30px;
}

#ourLocationsBlog {
  margin-bottom: 0px;
  font-family: $primaryfont;
  font-size: 20px;
  border-bottom-style: dotted;
  border-width: 2px;
  border-color:  $action-color;
  text-transform: uppercase;
  display: inline-block;
}

// #blogLocationOptions {
//   background: $body-color;
//   border-radius: 10px;
// }

.sidebar-title {
  border-bottom: solid 1px $turq-color;
  font-family: $bodyfont;
  font-size: 24px;
  font-weight: bold;
  color: $turq-color;
  text-transform: uppercase;
  // display: inline;
  text-align: left;
  margin: 0px;
  padding-bottom: 2px;
  margin-bottom: 10px;
}

#hostel-Options{
  font-family: $bodyfont;
  line-height: 2.73;
  text-transform: uppercase;
}

#hostel-Options li a {
    text-decoration: none;
    color: $color-four;
      font-size: 20px;
}




#ourLocationsBlog h3 {
  margin-bottom: 5px;
  color: #fff;
}

#rightBlogBackground {
    background: $body-color;
    margin-top: 20px;
    border-radius: 10px;
}

// #socialMediaIcons {
//     margin: 30px 0 50px 0;
// }


#searchBar {
  margin: 20px 0 20px 0;
}

#downArrow {
  margin-top: 15px;
  margin-bottom: 30px;
}

#socialMediaIcon {
  background: #fff;
  padding: 25px 60px 15px 60px;
  padding: 10px 0 20px 0;

}

.blogIcons {
  margin-left: 15px;
  padding: 10px 0 10px 0;
}

#featuredPostsTitle{
  margin: 0px;
}
