#locations {
  background: $body-color;
  // color: $heading-color;
  padding: 40px 0 20px 0;

  h2 {
    @include title-font-type($heading-color);
  }

  p {
    @extend .bodyfont;
    color: $heading-color;
    margin: 0px;
  }

}

.hostel-locations-home {
  color: $heading-color;
  margin: 0 0 -10px 0;
  font-size: 50px;
  font-family: $primaryfont;
  text-align: center;
  text-transform: uppercase;

  @include bp(mama-bear){
    font-size: 30px;
  }

  @include bp(baby-bear){
    font-size: 50px;
  }

 span {
   display: block;
   color: $action-color;
   font-size: 22px;
   margin: 0 0 -10px 0;
   text-transform: none;
 }
}
