#iconBackground {
  background: $body-color;
}

.circleIcon {
border-radius: 100px;
// margin: 30px 100px 30px 30px;
border: solid 5px $action-color;
}

.aboutSubtitlesFaqs {
  color: $heading-color;
  font-family: $primaryfont;
  margin-top: 5px;
  line-height: 1.5;
}

.servicesIcons {
  margin-top: 30px;
}
