#hero-container {
    background: $color-four;
    text-align: center;

    h1 {
      @extend .hero-title;
      color: $body-color;

      span {
        text-transform: uppercase;
        font-family: $primaryfont;
        font-weight: bold;
        margin-top: -30px;
        font-size: 60px;
        @include bp(baby-bear){
        font-size: 50px
        };
      }
    }

    button {
      @extend .action-button;
      text-transform: uppercase;
    }

}
