#contact-hostels {


}


.contactHostelTitle {
  font-family: $bodyfont;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.5;
	color: $turq-color;
  border-color: $color-four;
  border-bottom-style: solid;
  border-width: 1px;
  text-transform: uppercase;

  margin: 0 30px 20px 10px;
}

.contactInfoStyle {
  font-family: $bodyfont;
	font-size: 16px;
	line-height: 1.69;
	color: $body-color;
  margin-bottom: 20px;
  margin-left: 4px;
  // padding-left: 55px;
}

.contactInfoStyle span {
  color: $color-four;
}

.contactHostelMap {
  border-radius: 20px;
}
